.header {
	&__bg {
		position: absolute;
		z-index: -1;
		background: url(../img/bg-header.jpg) no-repeat center/cover;
		@supports (background: url('../img/bg-header.webp')) {
			background: url('../img/bg-header.webp') no-repeat center/cover;
		};
		height: 100%;
		width: 100%;

		// min-height: 100vh;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 19px;
	}

	&__logo {
		width: 153px;
		height: 65px;
	}

	&__text {
		@include fontGothamR();
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.5px;
		text-align: center;
		color: var(--white);
		max-width: 457px;
	}

	&__tel-item {
		span{
			color: var(--white);
		}
	}
	&__tel-link{
			color: var(--red);
	}
}
.tel-item {
	text-align: center;
	span{
		@include fontGothamB();
		font-size: 26px;
		line-height: 31.2px;
		margin-bottom: 10px;
	}
}
.tel-link {
	@include fontGothamR();
	font-size: 14px;
	line-height: 16.8px;
	position: relative;
}
.tel-link::after{
	background-color: var(--red);
}

