@media screen and (max-width: 1060px){
	.gratitude__founder-inner{
		margin-left: 205px;
	}
}
@media screen and (max-width: 970px){
	.gratitude__founder-inner{
		margin-left: 145px;
	}
}
@media screen and (max-width: 910px){
	.header{
		// &__inner{
		// 	flex-direction: column;
		// }
		&__text{
			display: none;
		}
	}
	.gratitude__founder{
		position: relative;
		// margin-left: calc(-380px + 1133 * ((100vw - 320px) / 1600));
		// margin-left: calc(0px + (30-0) * ((100vw - 320px) / (706 - 320})
		&-inner{
			margin-top: -270px;
			margin-left: 0px;
			// margin-left: calc(-380px + (145-(-380)) * ((100vw - 320px) / (910 - 320)));
		}
	}
}
@media screen and (max-width: 722px){
	.gratitude__founder-inner{
			margin-left: 0;
	}
}
@media screen and (max-width: 701px){
	.work-time__title{
		// padding-top: 0;
		padding-top: calc(3px + (13 - 10) * ((100vw - 320px) / (701 - 320)));
	}
	.work-time__img{
		transform: translateX(calc(-382px + (0 - (-382)) * ((100vw - 320px) / (701 - 320))));
	}
	.work-time__title,
	.work-time__text{
		// margin-left: 0;
		margin-left: calc(0px + (187 - 0) * ((100vw - 320px) / (701 - 320)));
	}
	.work-time__text{
		max-width: 100%;
	}

}
@media screen and (max-width: 500px){
	.gratitude__founder-inner{
		margin-top: calc(-240px + (-270 - (-240)) * ((100vw - 320px) / (500 - 320)));
	}
	.gratitude__founder-img{
		// margin-top: -240px;
		// 
		// width: 1233px;
		// height: 761px;
		// width: 812px;
		width: calc(820px + (1233 - 820) * ((100vw - 320px) / (500 - 320)));
		height: calc(525px + (761 - 525) * ((100vw - 320px) / (500 - 320)));
		// height: 522px;
	}
}

@media screen and (max-width: 450px){
	.header{
		&__inner{
			flex-direction: column;
			gap: 20px;
		}
		&__text{
			display: block;
		}
	}
}