*{
   box-sizing: border-box;
}

body{
   margin: 0;
   font-size: 16px;
   color: #343434;
   background: url(../img/body-bg.gif);
   line-height: 1.375em;
}

.container{
   max-width: 960px;
   margin: 0 auto;
   padding: 0 10px;
}

a, body, div, footer, form, h1, h2, h3, h4, h5, h6, header, html, img, li, nav, object, ol, p, ul{
   /* background: transparent; */
   border: 0 none;
   font-size: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

/* HEADER */

header{
   background: url(../img/header-bg.gif);
   padding-top: 25px;
   border-bottom: 3px solid #1c1e21;
   height: 110px;
}

.logo{
   float: left;
   background: url(../img/logo.png);
   width: 306px;
   height: 57px;
}

nav{
   float: right;
}

ol,li{
   list-style: none;
}

.menu{
   padding-top: 20px;
}

li{
   float: left;
   padding: 0 23px;
   
}

li>a:hover, .active>a{
   color: white;
}

a{
   text-decoration: none;
   text-transform: uppercase;
   color: #999;
}

/* main */



.content{
   background: #edf0f6;
   border-top: 3px solid #fcfcfd;
   border-bottom: 3px solid #fcfcfd;
   padding-bottom: 44px;
   display: block;
}

.content-top{
   padding: 40px 0 50px 0;
   overflow: hidden;
   border-bottom: .5px solid rgb(201, 201, 201);
}

.info-block{
   float: left;
   width: 740px;
   text-transform: uppercase;
   font-weight: 400;
}

.link{
   color: #ee4003;
   text-decoration: none;
}

.btn-c{
   float: right;
   padding: 18px 33px 18px 33px;
   color: #fff;
   background: #343434;
   border-radius: 5px;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 300;
}


/* CENTER */

.content-centr{
   padding: 40px 0 50px 0;
   overflow: hidden;
   border-bottom: .5px solid rgb(201, 201, 201);
}

.center-text{
   max-width: 620px;
   display: inline;
   float: left;
   margin: 0;
}

.centr{
   padding-right: 61px;
}

h2 {
   font-weight: 300;
   font-size: 30px;
   padding: 10px 0 28px 0;
}

.img{
   float: left;
   margin: 0 40px 0 0;
   
}

img{
   border-radius: 5px;
}

.text-photo, .text{
   text-align: justify;
   overflow: hidden;
}

.text{
   padding-top: 30px;
}

.center-citata{
   width: 300px;
   display: inline;
   float: right;
}


.citata-text{
   padding: 37px 50px;
   background: #343434;
   border-radius: 5px;
   color: #edf0f6;
   text-align: center;
   position: relative;
}

em{
   font-style: italic;
}

.citata-text>p{
   padding-top: 16px;
}

.citata-text::before{
   position: absolute;
   display: block;
   content: '';
   background: url(../img/testimonials_bg.png) no-repeat;
   left: 14px;
   top: 14px;
   height: 40px;
   width: 39px;
}

.content-bottom{
   width: 940px;
   width: 100%;
   overflow: hidden;
}

.client{
   padding-top: 42px;
}

.clients-list>li {
   float: left;
   padding-left: 76px;
}

.client-list>li:first-child {
   padding-left: 0;
}

/* footer */

footer{
   height: 111px;
   color: #9a9a9a;
   font-weight: 300;
   padding-top: 40px;
}

.footer-cop{
   width: 620px;
   float: left;
}

.footer-social{
   width: 300px;
   float: right;
}

.social{
   padding-left: 74px;
   line-height: 30px;
   float: right;
}

.social>a {
   display: inline-block;
   margin-left: 5px;
}

img {
   vertical-align: top;
}

/* slider */

.sliders{
   height: 407px;
   padding-top: 40px;
}

/* блок слайдера размер */
.slider{
   width: 940px;
   height: 317px;
   overflow: hidden;
   /* border: 3px solid white; */
   position: relative;
   margin: 0 auto;
}

.middle{
   /* центрирование */
   position: absolute;
   /* top: 50%;
   left: 50%; */
}

.navigation{
   position: absolute;
   bottom: 5px;
   left: 23%;
   display: flex;
}

.bar{
   height: 8px;
   width: 30px;
   margin: 6px;
   cursor: pointer;
   background-color: black;
   opacity: .7;
   border-radius: 10px;
   transition: all .4s ease;
}

.bar:hover{
   opacity: 0.9;
   transform: scale(1.1);
}

input[name='r']{
   position: absolute;
   visibility: hidden;
}

.slides{
   width: 400%;
   height: 100%;
   display: flex;
}

.slide{
   width: 25%;
   transition: all 1s ease;
   padding-right: 5px;
}

.slide-text{
   height: 100%;
   width: 360px;
   display: inline;
   color: white;
   padding-top: 40px;
   float: left;
}

.slide-text>h2{
   font-weight: 300;
   font-size: 30px;
   padding: 10px 0 28px 0;
   height: 72px;
}

.slide-text>p{
   padding-top: 16px;
   height: 92px;
   overflow: hidden;
   vertical-align: top;
}

.btn{
   margin-top: 18px;
   padding: 18px 35px 18px 35px;
   color: #000;
   background: #edf0f6;
   border-radius: 5px;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 300;
   position: absolute;
}

.slide-img{
   width: 560px;
   display: inline;
}

.slide-img>img{
   height: 100%;
   float: right;
}

#r1:checked ~ .s1{
   margin-left: 0;
}

#r2:checked ~ .s1{
   margin-left: -25%;
}

#r3:checked ~ .s1{
   margin-left: -50%;
}





