.island {

   &__inner {
      @include adaptiv-value(margin-top, 100, 60, 1);
      @include adaptiv-value(margin-bottom, 100, 60, 1);
   }

   &__title {
      color: var(--black);
      @include mwidth(820);
      margin: 0 auto;
   }

   &__lists {
      @include adaptiv-value(margin-top, 50, 30, 1);
      position: relative;
      @include mwidth(1144);
      height: 591px;
      @include bgImg(11-island, bg, png);
   }

   &__item {
      position: absolute;
      display: flex;

      span {
         display: flex;
         justify-content: center;
         align-items: center;
         @include fontGothamB();
         @include adaptiv-value(font-size, 30, 24, 1);
         @include adaptiv-value(line-height, 24, 18, 1);
         background-color: var(--yellow);
         border-radius: 50%;
         width: 55px;
         height: 55px;
         margin-left: 20px;
         cursor: pointer;
         position: relative;
      }

      span::before {
         position: absolute;
         content: '';
         width: 55px;
         height: 55px;
         border-radius: 50%;
         animation: sk-scaleout 2.5s infinite linear;
      }

      @keyframes sk-scaleout {
         0% {
            box-shadow: 0 0 0 -10px var(--yellow);
         }

         100% {
            box-shadow: 0 0 0 15px var(--yellow);
            opacity: 0;
         }
      }
   }

   @for $item from 1 through 3 {
      &__item:nth-child(#{$item}) {
         span {
            order: 1;
         }
      }
   }

   &__item-dropdown {
      font-size: 18px;
      line-height: 26px;
      background-color: var(--white);
      border-radius: 5px;
      padding: 25px 30px 25px 125px;
      position: relative;
      opacity: 0;
      transition: opacity .2s linear;
      box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.6);

      &::before,
      &::after {
         position: absolute;
         content: '';
      }

      &::before {
         width: 75px;
         height: 75px;
         top: 30px;
         left: 30px;
      }

      &::after {
         height: 20px;
         width: 20px;
         top: 15px;
         right: -25px;
         border: 10px solid transparent;
         border-left: 20px solid var(--white);
      }
   }

   &__item:nth-child(1) {
      top: 50px;
      right: 250px;

      .island__item-dropdown {
         width: 337px;
      }
   }

   &__item:nth-child(2) {
      top: 130px;
      right: 30px;

      .island__item-dropdown {
         width: 350px;
      }
   }

   &__item:nth-child(3) {
      top: 350px;
      right: 230px;

      .island__item-dropdown {
         width: 350px;
      }
   }

   &__item:nth-child(4) {
      top: 380px;
      left: 330px;

      .island__item-dropdown {
         width: 350px;
      }
   }

   &__item:nth-child(5) {
      top: 260px;
      left: 50px;

      .island__item-dropdown {
         width: 350px;
      }
   }

   &__item:nth-child(4),
   &__item:nth-child(5) {
      .island__item-dropdown {
         margin-left: 25px;

         &::after {
            left: -19px;
            border-left: none;
            border-right: 20px solid var(--white);
         }
      }
   }

   @for $item from 1 through 5 {
      &__item:nth-child(#{$item}) &__item-dropdown::before {
         @include bgImg(11-island, #{$item}, png);
      }
   }

   &__item span:hover+&__item-dropdown {
      opacity: 1;
   }
}