//переменные
$mw: 940px;
// $md1: $mw+12;
// $md2: 991.98;
// $md2: 767.98;
// $md2: 479.98;

$blue: #00A4E5;
$black: #48555B;
$white: #FFFFFF;


%logo{
  max-height: 23px;
  max-width: 101.62px;
}